<div class="container-fluid box">
<nav class="navbar navbar-expand-lg navbar-light bg-light box a" >
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> 
               <span class="navbar-toggler-icon" style="color: white!important;"></span>
                <span class="oi oi-align-left"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active highlight rounded">
              <a class="nav-link a" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link a" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link a" href="#">Fee Structure</a>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Courses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                    </div>
            </li>
            <li class="nav-item">
                    <a class="nav-link a" href="#">Admisions</a>
           </li>
           <li class="nav-item">
                <a class="nav-link a" href="#">Notifications</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link a" href="#">Gallery</a>
                  </li>

                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Our Branches
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                </li>

                  <li class="nav-item">
                        <a class="nav-link a" href="#">Contact Us</a>
                      </li>
          </ul>
          <span class="navbar-text">
            
          </span>
        </div>
      </nav>
    </div>