.box{
  
    background-color: #001930!important;
    color: white;
    padding-left:15px ;
    margin: 0px;
    line-height: 40px;
}
a.a {
  
    color: white!important;
  
}

.highlight {
    background-color: coral;
}